# Koşullu Eleman İşlemleri

In [5]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30,size = (10,3))
df = pd.DataFrame(m, columns =["var1","var2","var3"])
df

   var1  var2  var3
0     8    20    24
1     5     1    14
2    19    12    22
3    12    10    23
4    15    15    27
5    20     9    27
6    19     1    29
7     2     3    27
8     2     9    16
9     8    25    25

In [3]:
df["var1"]

0    23
1    16
2     1
3    14
4     6
5     1
6    24
7    15
8     8
9     6
Name: var1, dtype: int32

In [5]:
df[0:2][["var1","var2"]]

   var1  var2
0    23    23
1    16    25

In [11]:
df[df.var1 > 15]

   var1  var2  var3
0    23    23    25
1    16    25    28
6    24     8    29

In [9]:
df[(df.var1 > 5) & (df.var3 < 5)]

   var1  var2  var3
7    15    28     2

In [14]:
df[(df.var1 > 15), ["var1","var2"]]

InvalidIndexError: (0     True
1     True
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9    False
Name: var1, dtype: bool, ['var1', 'var2'])

In [15]:
df.loc[(df.var1 > 15), ["var1","var2"]]

   var1  var2
0    23    23
1    16    25
6    24     8

In [12]:
df[(df.var1 > 15)][["var1","var2"]]

   var1  var2
2    19    12
5    20     9
6    19     1

In [9]:
df.loc[(df.var1 > 15), ["var1","var2"]]

   var1  var2
2    19    12
5    20     9
6    19     1

In [10]:
df[(df.var1 > 15)][ "var1"]

2    19
5    20
6    19
Name: var1, dtype: int32